header {
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-bottom: 1px solid #0c0040;
    height: 70px;
    gap: 2rem;
}

header h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

header a {
    font-size: 1.5rem;
    color: #250076;
    text-decoration: none;
    font-weight: 600;
}



